[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-telegram-bot = "==21.4"
transmission-rpc = "==7.0.10"
bs4 = "*"
requests = "*"
lxml = "*"
pyyaml = "*"
mechanize = "*"
cookiejar = "*"
pillow = "*"
qrcode = "*"
pydash = "*"

[dev-packages]

[requires]
python_version = "3.12"
