[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-telegram-bot = "==21.10"
transmission-rpc = "==7.0.11"
bs4 = "*"
requests = "*"
lxml = "*"
pyyaml = "*"
mechanize = "*"
cookiejar = "*"
pillow = "*"
qrcode = "*"
pydash = "*"

[dev-packages]
flake8 = "*"
black = "*"
mypy = "*"

[requires]
python_version = "3.13"
